[submodule "AFL"]
	path = AFL
	url = https://github.com/google/AFL.git
[submodule "emsdk"]
	path = emsdk
	url = git@github.com:emscripten-core/emsdk.git
[submodule "cross-origin-server"]
	path = cross-origin-server
	url = git@github.com:Haximilian/cross-origin-server.git
[submodule "c_heap"]
	path = c_heap
	url = https://github.com/Haximilian/c_heap
